<html>
<head>
<style>
<meta name="viewport" content="width=device-width, initial-scale=1">
img {
  max-width: 25%;
  height: auto;
}
body {
  margin: 0;
}
body {
  background-color: #0d3e4a;
}
div {
  background-color: #0d3e4a;
}

h1 {
  color: #9dbbc2;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
   color: #9dbbc2;
    text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #707070;
}

li {
  float: left;
  border-right:1px solid #7707070;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: #9e9e9e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #d4d4d4;
}

.active {
  background-color: #575757;
}

</style>
</head>
</html>
